<main>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-accordion multi="true" hideToggle="true" *ngIf="posts.length > 0 && !isLoading">
    <mat-expansion-panel *ngFor="let post of posts" hideToggle="true" expanded disabled>
      <mat-expansion-panel-header>
        {{ post.title }}
      </mat-expansion-panel-header>
      <div class="post-image">
        <img [src]="post.imagePath" [alt]="post.title">
      </div>
      <p>{{ post.content }}</p>
      <mat-action-row>
        <button mat-icon-button (click)="like(post.id)">
          <!-- <mat-icon>favorite_border</mat-icon> -->
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon id="comment" [routerLink]="['/detail', post.id]">mode_comment</mat-icon>
        </button>
        <div *ngIf="userIsAuthenticated && userId===post.userId">
          <button mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</button>
          <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
        </div>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No posts added yet!</p>
  <br/>
  <mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangePage($event)"
    *ngIf="posts.length > 0"></mat-paginator>
</main>
