:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

.post-image{
  width:100%;
}

.post-image img{
  width:100%;
  box-shadow: 2px 2px 7px rgba(0,0,0,0.5);
}

main {
  width: 50%;
  margin: 1rem auto;
}

.mat-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 24px;
  color: red;
}

.mat-icon#comment{
  color: black;
}