<main>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-accordion multi="true" hideToggle="true" *ngIf="!isLoading">
    <mat-expansion-panel hideToggle="true" expanded disabled>
      <mat-expansion-panel-header>
        {{ post.title }}
      </mat-expansion-panel-header>
      <div class="post-image">
        <img [src]="post.imagePath" [alt]="post.title">
      </div>
      <p>{{ post.content }}</p>
      <mat-action-row>
        <div>
          <button mat-icon-button (click)="like(post.id, post)" *ngIf="post.liked">
            <!-- <mat-icon>favorite_border</mat-icon> -->
            <mat-icon id="fav">favorite</mat-icon>
          </button>
          <button mat-icon-button (click)="like(post.id, post)" *ngIf="!post.liked">
            <!-- <mat-icon>favorite_border</mat-icon> -->
            <mat-icon>favorite</mat-icon>
          </button>
          {{ post.likes }}
        </div>
        <div>
          <button mat-icon-button>
            <mat-icon id="comment" [routerLink]="['/detail', post.id]">mode_comment</mat-icon>
          </button>
          {{ post.comments }}
        </div>
        <div *ngIf="userIsAuthenticated && userId===post.userId">
          <button mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</button>
          <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
        </div>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <br/>
  <mat-card>
    <form (submit)="onComment(commentForm)" #commentForm="ngForm">
      <mat-form-field>
        <textarea matInput name="comment" ngModel placeholder="Comment" #commentInput="ngModel" required></textarea>
        <mat-error *ngIf="commentInput.invalid">Please enter a comment.</mat-error>
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">Post</button>
    </form>
  </mat-card>
  <mat-card *ngFor="let c of comments">
    <b>Anonymous</b><br/>
    {{c.comment}}
  </mat-card>
</main>