<mat-toolbar color="primary">
  <span>
    <a routerLink="/posts">Instanonymous</a>
  </span>

  <span class="spacer"></span>

  <span class="spacer"></span>

<!-- @author: Mafrel -->

  <mat-form-field *ngIf="userIsAuthenticated">
    <input placeholder="search" matInput [matAutocomplete]="auto" (keyup)="search($event)">
  </mat-form-field>

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let user of users" (onSelectionChange)="viewUserProfile(user._id)">{{user.email}}</mat-option>
  </mat-autocomplete>

  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="#" routerLinkActive="mat-accent">Profile</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
